##########################
#
# APP
#
##########################

PORT=8080
LOG_LEVEL=debug

RESTART_MODE=unless-stopped
FQDN=localhost

#COCKPIT_URL=https://github.com/macno/json-against-humanity/raw/full-json/decks/family.json
COCKPIT_URL=https://github.com/macno/json-against-humanity/raw/full-json/decks/full.json
SLACKIN_URL=https://slack.buttonsagainsthumanity.com/
