##########################
#
# APP
#
##########################

PORT=8080
LOG_LEVEL=debug

RESTART_MODE=unless-stopped
FQDN=localhost

#COCKPIT_URL=https://github.com/macno/json-against-humanity/raw/full-json/decks/family.json
COCKPIT_URL=https://github.com/macno/json-against-humanity/raw/full-json/decks/full.json
SLACKIN_URL=https://slack.buttonsagainsthumanity.com/

# Used to force a COCKPIT reload via API, it's sha256 (Authorization: Bearar secrett+ttoken)
ADMIN_TOKEN=514a1cd20c03cd8a234dca0fddb87cf53a26bb7b2a66e2aae62a0a544237f96b


# Set MULTI_NODE to 1 to enable support for replicas
# It requires a redis instance available
MULTI_NODE=0
STICKY_COOKIE=bah-sticky
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_OPTS={"socket_keepalive":false}